.advantages__slogan {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__list {
  padding: 0;
  margin: 0 auto;
}
