.advantages__slogan {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 30px 14px 24px;
}

.advantages__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 10px;
}

.advantages__list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}
