.advantages__slogan {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-transform: uppercase;
}

.advantages__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
