.attractions__slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.attractions__intro {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.attractions__item {
  list-style-type: none;
}

.attractions__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.attractions__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.attractions__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}
