.attractions__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.attractions__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto;
  padding: 25px 15px 0 15px;

  @media (min-width: $tablet-width) {
    padding: 32px 15px 0 15px;
  }
}

.attractions__item {
  list-style-type: none;
  position: relative;
  margin-top: 49px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 33.3333%;
  }
}

.attractions__item:nth-child(1) {
  width: 100%;
}

.attractions__item-photo {
  width: 100%;
  margin-bottom: -3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    height: 267px;
  }
}

.attractions__item-photo--first {

  @media (min-width: $tablet-width) {
    height: 400px;
    margin-top: -30px;
  }
}

.attractions__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-area: heading;
  }
}

.attractions__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: -14px auto 12px;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-area: author;
  }
}

.attractions__list {
  padding: 0;
  margin: 62px auto;
  width: 280px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 111px auto;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    width: 1200px;
  }
}

.attractions__header {
  text-align: center;
}

.attractions__description {
  width: 100%;

  @media (min-width: $tablet-width) {
    background-color: #F2F2F2;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "heading like"
    "author like";
    padding: 16px 0;
    align-items: center;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
}

.attractions__like {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    grid-area: like;
    margin: 0;
    margin-left: auto;
    padding: 0 19px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.attractions__like-counter {
  margin-left: 10px;
  @media (min-width: $tablet-width) {
    margin-top: 6px;
  }
}

.attractions {
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 98px;
  }
}
