.main-container__background {
  background-image: url("/source/images/back-mobile.jpg");
  width: 640px;
  height: 778px;
}

.main-container__background-catalog {
  background-image: url("/source/images/back-catalog.jpg");
  width: 320px;
  height: 214px;
}
