.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: normal;
  }

  @media (min-width: $desktop-width) {
    padding-left: 58px;
  }
}

.main-footer__hashtag {
  margin-left: 91px;

  @media (min-width: $tablet-width) {
    margin-left: 61px;
    margin-top: 9px;
  }
}


