.main-container__background {
  background-image: url("../images/back-mobile.jpg");
  height: 389px;
  background-size: cover;
  padding: 90px 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 518px;
  }
}

.main-container__background-image {
  width: 282px;
  height: 214px;
  margin: 0 auto;
  display: block;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }

}

.main-container__background-catalog {
  background-image: url("../images/back-catalog.jpg");
  height: 214px;
  background-size: cover;
}
