.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__wrapper {
  min-height: auto;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__toggle {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 22px;
    height: 22px;
    z-index: 1;
  }

  .main-nav:not(.main-nav--nojs).main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav:not(.main-nav--nojs).main-nav--opened .main-nav__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle--opened {
  display: none;
}

.main-nav__toggle--closed {
  display: none;
}
