.main-container__background {
  background-image: url("../images/back-mobile.jpg");
  height: 389px;
  background-size: cover;
  padding: 90px 0;
  margin-top: -44px;

  @media (min-resolution: 2dppx) {
    background-image: url("../images/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 518px;
    background-image: url("../images/back-tablet.jpg");
    padding-top: 78px;
    margin-top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../images/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../images/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../images/back-desktop@2x.jpg");
    }
  }
}

.main-container__background-image {
  width: 282px;
  height: 214px;
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.main-container__background-catalog {
  background-image: url("../images/back-catalog-mobile.jpg");
  height: 214px;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../images/back-catalog-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../images/back-catalog-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../images/back-catalog-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../images/back-catalog-desktop@2x.jpg");
    }
  }
}
