.review__header {
  text-align: center;
}

.review__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.review__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.review__full-name-title,
.review__contacts-title,
.review__impression-title,
.review__places-title,
.review__emotions-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.review__name,
.review__surname,
.review__patronymic,
.review__phone,
.review__email {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: table;
  margin-left: 16px;
}

.review__name-example {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  width: 280px;
  height: 58px;
  border: none;
  background-color: #F2F2F2;

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.review__contacts-example {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 30%;
}

.review__impression {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  position: relative;
  min-height: 46px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 62px;
}

.review__impression::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background-color: #F2F2F2;
  left: 0;
  top: 0;
}

.review__radio:checked + .review__impression::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #333333;
  left: 15px;
  top: 15px;
}

.review__places {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 62px;
  padding-bottom: 40px;
}

.review__places::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 4%;
  background-color: #F2F2F2;
  left: 0;
  top: 0;
}

.review__checkbox:checked + .review__places::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  border-radius: 100%;
  background-image: url("../images/icons/tick.svg");
  left: 15px;
  top: 15px;
}

.review__emotions-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 279px;
  height: 150px;
  background-color: #F2F2F2;
  border: none;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    height: 160px;
  }
}

.review__full-name-form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.review__full-name {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.review__contacts-wrapper {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.review__impression-wrapper {
  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.review__places-wrapper {
  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.review__emotions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.review__contacts-phone {
  background-image: url("../images/icons/form-phone.svg");
  background-repeat: no-repeat;
  background-position: right center;
  width: 222px;
  height: 58px;
  right: 0;
  border: none;
  background-color: #F2F2F2;

  @media (min-width: $desktop-width) {
    width: 344px;
  }
}

.review__contacts-email {
  background-image: url("../images/icons/form-email.svg");
  background-repeat: no-repeat;
  background-position: right center;
  width: 222px;
  height: 58px;
  right: 0;
  border: none;
  background-color: #F2F2F2;

  @media (min-width: $desktop-width) {
    width: 344px;
  }
}

.review__emotions-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 18px 34px 13px 32px;
  color: #ffffff;
  background-color: #81B3D2;
  border: none;
  text-transform: uppercase;
  width: 281px;
  height: 58px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.review__emotions-span {

  @media (min-width: $tablet-width) {
    margin-left: 132px;
    width: 192px;
  }
  @media (min-width: $desktop-width) {
    margin-left: 156px;
    width: 227px;
  }
}
