.review__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.review__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.review-full-name__title,
.review-contacts__title,
.review-impression__title,
.review-places__title,
.review-emotions__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.review-name,
.review-surname,
.review-patronymic,
.review-phone,
.review-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.review-name__example {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.review-contacts__example {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 30%;
}

.review-impression {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.review-places {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.review-emotions__text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

}
