.review__header {
  text-align: center;
}

.review__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.review__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.review__full-name-title,
.review__contacts-title,
.review__impression-title,
.review__places-title,
.review__emotions-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.review__name,
.review__surname,
.review__patronymic,
.review__phone,
.review__email {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.review__name-example {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.review__contacts-example {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 30%;
}

.review__impression {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.review__places {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.review__emotions-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.review__full-name-form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 380px 380px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 550px 550px;
  }
}
