.review__header {
  text-align: center;
}

.review__slogan {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.review__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 21px;

  @media (min-width: $desktop-width) {
    margin-top: 32px;
  }
}

.review__full-name-title,
.review__contacts-title,
.review__impression-title,
.review__places-title,
.review__emotions-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-left: 18px;
  }
}

.review__emotions-title {
  @media (min-width: $tablet-width) {
    padding-right: 61px;
    padding-left: 0;
  }
}

.review__impression-title {
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
    margin-right: 36px;
  }
}

.review__contacts-title {
  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 54px;
    margin-bottom: 26px;
  }
  @media (min-width: $desktop-width) {
    padding-right: 185px;
  }
}

.review__full-name-title {

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
  }
  @media (min-width: $desktop-width) {
    padding-left: 33px;
  }
}

.review__places-title {
  margin-bottom: 27px;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.review__name,
.review__surname,
.review__patronymic,
.review__phone,
.review__email {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  display: table;
  margin-left: 16px;
}

.review__name-example {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  width: 280px;
  height: 58px;
  border: none;
  background-color: #F2F2F2;
  padding: 0;
  padding-left: 15px;

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.review__contacts-example {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 30%;
}

.review__impression {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  position: relative;
  min-height: 46px;
  display: flex;
  align-items: center;
  padding-left: 62px;
}

.review__impression::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background-color: #F2F2F2;
  left: 0;
  top: 0;
}

.review__radio:checked + .review__impression::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #333333;
  left: 15px;
  top: 15px;
}

.review__places {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 62px;
  margin-bottom: 26px;
  padding-top: 10px;
}

.review__places::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 4%;
  background-color: #F2F2F2;
  left: 0;
  top: 0;
}

.review__checkbox:checked + .review__places::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  border-radius: 100%;
  background-image: url("../images/icons/tick.svg");
  left: 15px;
  top: 15px;
}

.review__emotions-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 279px;
  height: 150px;
  background-color: #F2F2F2;
  border: none;
  margin-top: 21px;
  padding-left: 16px;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 160px;
    margin-top: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    height: 160px;
  }
}

.review__full-name-form {
  margin-top: 53px;

  @media (min-width: $tablet-width) {
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
  }
}

.review__full-name {
  margin-left: 20px;
  margin-bottom: 63px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding-left: 59px;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 120px;
  }
}

.review__contacts-wrapper,
.review__impression-wrapper,
.review__places-wrapper,
.review__emotions-wrapper {
  margin-left: 20px;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.review__contacts-wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-left: 44px;
  }
  @media (min-width: $desktop-width) {
    padding-left: 78px;
  }
}

.review__impression-wrapper {

  @media (min-width: $tablet-width) {
    width: 578px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 172px;
    padding-right: 134px;
    margin-bottom: 73px;
  }
}

.review__contacts-wrapper {
  @media (min-width: $tablet-width) {
  }
}

.review__places-wrapper {
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    width: 578px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 71px;
  }
}

.review__places-item {
  @media (min-width: $tablet-width) {
    width: 224px;
    margin-right: 17px;
    margin-left: 15px;
  }
}

.review__emotions-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 60px;
    margin-bottom: 47px;
  }
  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 156px;
  }
}

.review__contacts-phone {
  background-image: url("../images/icons/form-phone.svg");
  background-repeat: no-repeat;
  background-position: right center;
  width: 280px;
  height: 58px;
  right: 0;
  border: none;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    width: 344px;
  }
  @media (min-width: $desktop-width) {
    width: 402px;
  }
}

.review__contacts-email {
  background-image: url("../images/icons/form-email.svg");
  background-repeat: no-repeat;
  background-position: right center;
  width: 280px;
  height: 58px;
  right: 0;
  border: none;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    width: 344px;
  }

  @media (min-width: $desktop-width) {
    width: 402px;
  }
}

.review__emotions-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 18px 34px 13px 32px;
  color: #ffffff;
  background-color: #81B3D2;
  border: none;
  text-transform: uppercase;
  width: 281px;
  height: 58px;
  margin-left: 19px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.review__emotions-container {
  display: grid;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-bottom: 108px;
  }
  @media (min-width: $desktop-width) {
    margin-left: 158px;
  }
}

.review__emotions-span {
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 163px;
  padding-top: 4px;

  @media (min-width: $tablet-width) {
    margin-left: 132px;
    width: 192px;
    padding-left: 32px;
    font-size: 14px;
  }
  @media (min-width: $desktop-width) {
    margin-left: 156px;
    width: 227px;
    margin-left: 191px;
  }
}

.review {
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 113px;
  }
}

.review__block {
  margin-top: 17px;
  @media (min-width: $tablet-width) {
    padding-right: 41px;
  }
}

.review__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 63px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}
