.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 38px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    padding-top: 59px;

  }
}

.search__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2px 20px 0 20px;
  margin: 0 auto 37px;

  @media (min-width: $tablet-width) {
    padding: 12px 140px 0 140px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 340px 0 340px;
  }
}

.search__link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81B3D2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  display: table;
  margin: 0 auto 49px;
  padding: 16px 49px;

@media (min-width: $tablet-width) {
    padding: 15px 136px 18px;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 49px;
  }
}


.search {
  text-align: center;
}
