@media (min-width: $mobile-width-only) {
  .search__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media (min-width $tablet-width) {
  .search__title {
    font-size: 30px;
    line-height: 26px;
  }
}

.search__description {
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.search__link {
  text-decoration: none;
  text-transform: uppercase;
}

.search {
  text-align: center;
}
