.site-list__item a {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.site-list__item {
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 570px;
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 780px;
  }
}
