.slider__item {
  list-style-type: none;
}

.slider__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.slider__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.slider__item-devil,
.slider__item-city {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .slider__item--small {
    width: 33.3333%;
  }
}

.slider__item-wrapper {
  background-color: #eeeeee;
  text-align: center;

  @media (min-width: $tablet-width) {
  display: flex;
  }
}

