.social__list {
  display: flex;
  list-style-type: none;
  margin-left: 44px;
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    margin-top: -8px;
  }
}

.social__item:not(:nth-child(1)) {
  margin-left: 6px;
}
