.social__list {
  display: flex;
  list-style-type: none;
  margin-left: 44px;
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    margin-top: -8px;
  }
}

.social__item:not(:nth-child(1)) {
  margin-left: 6px;
}

.social {
  @media (min-width: $desktop-width) {
    padding-left: 158px;
  }
}

.social__link--vkontakte:hover {
  background-color: #669EC0;
  color: #ffffff;
}

.social__link--vkontakte:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 1);
}

.social__link--telegram:hover {
  background-color: #669EC0;
  color: #ffffff;
}

.social__link--telegram:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 1);
}

.social__link--youtube:hover {
  background-color: #669EC0;
  color: #ffffff;
}

.social__link--youtube:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 1);
}
