.sublist__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.sublist__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
  }
}

.sublist__description-food {
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    width: 180px;
  }
}

.sublist__description-gift {
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
    padding-left: 0;
  }
}

.sublist {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    text-align: center;
  }
}

.sublist__title-house {
  position: relative;
  padding-top: 31px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
  }

}

.sublist__title-house::before {
  content: "";
  position: absolute;
  left: -4%;
  transform: translateX(-50%);
  top: 0;
  background-image: url("../images/icons/icon-house-mobile.svg");
  width: 75px;
  height: 70px;
  margin-top: 26px;
  display: block;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    top: -94px;
    background-image: url("../images/icons/icon-house.svg");
    width: 75px;
    height: 70px;
    margin-bottom: 12px;
    display: block;
    background-repeat: no-repeat;
  }
}

.sublist__title-food {
  position: relative;
  padding-top: 31px;
  margin: 0 auto;
  padding-left: 5px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}

.sublist__title-food::before {
  content: "";
  position: absolute;
  left: -5%;
  transform: translateX(-50%);
  top: 15px;
  background-image: url("../images/icons/icon-burger-mobile.svg");
  width: 75px;
  height: 70px;
  margin-top: 9px;
  display: block;
  background-repeat: no-repeat;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -75px;
    background-image: url("../images/icons/burger.svg");
    width: 75px;
    height: 70px;
    margin-bottom: 20px;
    display: block;
    background-repeat: no-repeat;
  }
}

.sublist__title-gift {
  position: relative;
  padding-top: 28px;
  margin: 2px auto 2px -3px;

  @media (min-width: $tablet-width) {
    margin-left: 2px;
  }
}

.sublist__title-gift::before {
  content: "";
  position: absolute;
  left: -4%;
  transform: translateX(-50%);
  top: 0;
  background-image: url("../images/icons/icon-gift-mobile.svg");
  width: 75px;
  height: 70px;
  margin-top: 21px;
  margin-left: 5px;
  display: block;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -93px;
    background-image: url("../images/icons/gift.svg");
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
    display: block;
    background-repeat: no-repeat;
  }
}

.sublist__item {
  padding-left: 65px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 24px;
    padding-top: 129px;
    width: 33.3333%;
    padding-right: 26px;
  }
}


