.sublist__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.sublist__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.sublist {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.sublist__title-house {
  position: relative;
  padding-top: 100px;
}

.sublist__title-house::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-image: url("../images/icons/icon-house.svg");
  width: 75px;
  height: 70px;
  margin-bottom: 20px;
  display: block;
  background-repeat: no-repeat;
}

.sublist__title-food {
  position: relative;
  padding-top: 100px;
}

.sublist__title-food::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-image: url("../images/icons/burger.svg");
  width: 75px;
  height: 70px;
  margin-bottom: 20px;
  display: block;
  background-repeat: no-repeat;
}

.sublist__title-gift {
  position: relative;
  padding-top: 100px;
}

.sublist__title-gift::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-image: url("../images/icons/gift.svg");
  width: 75px;
  height: 70px;
  margin-bottom: 20px;
  display: block;
  background-repeat: no-repeat;
}
