.video-content__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.video-content__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.video-content {
  text-align: center;
}
