.video-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 25px 22px 0 22px;
}

.video-content {
  text-align: center;
}
