.video-content__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
}

.video-content__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
}

.video-content {
  text-align: center;
}

.video-content__video {
  width: 100%;
}
